#map {
  margin: 0px;
  position: absolute;
  height: 100%;
  width: 100%;
}

/* Search Bar Specs. */
 .mainButtonsWrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -375px;
  margin-top: -400px;
  border-width: 3px;
 }

 .searchWrapper {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  min-width: 100px;
}

.search {
  border-radius: 35px;
  height: 35px;
  width: 700px;
  padding: 2px 23px 2px 40px;
  outline: 0;
  background-color: white;
  font-size: 25px;
}

.search:hover, .search:focus {
  background-color: #f5f5f5; /* Grey. */
}
   
#search-icon {
  position: relative;
  top: 9px;
  left: 40px;
  height: 25px;
  width: 25px;
}

.clear-icon {
  position: relative;
  top: 3px;
  right: 35px;
  width: 10px;
  cursor: pointer;
  font-size: 28px;
  font-family: arial;
  color: black;
  visibility: hidden;
}

#popUp {
  border-radius: 20px;
  text-align: center;
  height: 800px;
  width: 1200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-600px, -400px);
  z-index: 10;
}

#header {
border-radius: inherit;
border-width: inherit;
border-color: inherit;
border-style: inherit;
border-radius: 20px 20px 0px 0px;
background-color: #FAC302;
color: white;
height: 20%;
width: 100%;
vertical-align: middle;
display: inline-block;
}

#exit {
  height: 30px;
  width: 30px;
  color: #EA4235;
  font-family: arial;
  font-size: 54px;
  margin-top: 0px;
  margin-left: 1140px;
}

#exit:hover {
    color: rgba(230, 230, 230); /* Grey. */
}

#headerText {
font-family: arial;
font-size: 80px;
height: 200px;
width: 1200px;
text-align: center;
line-height: 0%;
position: relative;
}

#lower {
  border-radius: inherit;
  border-width: inherit;
  border-color: inherit;
  border-style: inherit;
  border-radius: 0px 0px 20px 20px;
  background-color: #4286F5;
  height: 80%;
  width: 100%;
  display: inline-block;
}

#lowerCenter {
  background-color: white;
  border-radius: 20px;
  height: 75%;
  width: 90%;
  padding: 10px;
  position: relative;
  margin: 7% auto;
  display: inline-block;
}

#centralDiv {
  font-size: 64px;
  font-family: Arial;
  color: #35A853;
  text-align: center;
  height: 90%;
  width: 70%;
  margin: 0 auto;
  padding-top: 40px;
}

#navButtons {
  height: 20%;
  width: 97%;
  position: relative;
  top: -110px;
  display: inline-block;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: relative;
  width: auto;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 60px;
  transition: 0.6s ease;
  user-select: none;
  color: #EA4235; /* Google Red. */
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 0px 10px 10px 0px;
}

.prev {
  border-radius: 10px 0px 0px 10px;
  position: relative;
  right: 30%;
}

/* Login Button Specs. */
.loginButton {
  height: 30px;
  width: 30%;
  position: relative;
  left: 30%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: rgba(230, 230, 230); /* Grey. */
}

#login {
  background-color: #f5f5f5;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  height:50px;
  width:100px;
  border-radius: 30px;
  margin: 0 auto;
}

#login:hover {
  background-color: rgb(180, 180, 180);
}  
