/* iFrame overlayer */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10; /* Max Height */
  background-color: white;
  width: 500px;
  max-width: 80%;
}