/* Modal and Overlay stylings, both with dormant and active states */

.modal {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0); /* Variable sizing. Hidden in dormant state */
  width: 500px;
  max-width: 80%;
  z-index: 10; /* Top layer of webpage*/
}

/* Active modal, keep same location but make visible. */
.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  align-items: center;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  border: none;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: bold;
  outline: none;
}

.modal-body {
  padding: 10px 15px;
}

/* The gray overlay of the map background */
#overlay {
  background-color: rgba(0,0,0,.5); /* Black with 50% opacity */
  opacity: 0;
  pointer-events: none;
  position: fixed;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}