
/* New UI for overhaul */

/* Navbar */
.navbar {
  overflow: hidden;
  background-color: #3a3838;
  max-width: 100%;
  position: fixed;
  top: 0;
  height: 10%;
  width: 100%;
  min-height: 80px;
}

.navbar-left {
  float: left;
  max-width: 33%;
  height: 100%;
}

.navbar-center {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 34%;
  height: 100%;
}

.navbar-right {
  float: right;
  max-width: 33%;
  height: 100%;
}

.navbar div#icon-box {
  float: left;
  display: block;
  position: relative;
  color: aliceblue;
  text-align: center;
  transition: all 0.3s ease;
  padding: 1%;
  text-decoration: none;
  height: 80%;
  max-height: 150px;
  max-width: 80px;
}

.navbar div#bar-box {
  float: right;
  display: block;
  color: white;
  text-align: center;
  transition: all 0.3s ease;
  height: 100%;
  width: 120px;
  text-decoration: none;
}

.navbar button {
  float: right;
  display: inline-block;
  color: whitesmoke;
  background-color: #3a3838;
  text-align: center;
  transition: all 0.3s ease;
  padding: 14px 16px;
  height: 100%;
  border: none;
  text-decoration: none;
}

.navbar button:hover {
  background-color: rgb(180, 180, 180);
}

.navbar .logo {
  max-width: 100%;
  max-height: 100%;
}

.sidebar {
  height: 100%;
  position: fixed;
  width: 15%;
  top: 10%;
  z-index: 1;
  background-color: #3a3838;
}

.sidebar div#header {

}

.searchButtonsWrapper {
  position: relative;
  height: 100%;
  background-color: white;
  width: 100%;
}

/* Search Bar Specs. */
 .searchWrapper {
  display: flex;
  height: 40%;
  width: 100%;
  position: relative;
}

.searchbar {
  background-color: white;
  border-radius: 3vw;
  font-size: 150%;
  height: 100%;
  min-width: 100px;
  padding-left: 12.5%;
  position: relative;
  max-width: 100%;
}

.searchbar:hover, .searchbar:focus {
  background-color: #f5f5f5; /* Grey. */
}

#zip {
  background-color: white;
  border-radius: 3vw;
  height: 50%;
  left: 50%;
  min-width: 100px;
  top: 60%;
  transform: translate(-50%, 80%);
  position: absolute;
  width: 55%;
}

#rad {
  background-color: white;
  border-radius: 3vw;
  height: 50%;
  left: 50%;
  min-width: 100px;
  top: 100%;
  transform: translate(-50%, 120%);
  position: absolute;
  width: 55%;
}