.big-flex {
  align-items: center;
  display:flex;
  justify-content: space-between;
}

.left-flex {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.right-flex {
 justify-content: right;
 width: 30%;
}

.review-text {
  text-align: center;
}