/* Styling for sidebar and its contents */

.sidebar {
  height: 100%;
  position: fixed;
  width: 15%;
  top: 10%;
  z-index: 1;
  min-width: 190px;
  background-color: #3a3838;
}

.sidebar-header {
  align-items: center;
  border-bottom: 1px solid black;
  display: flex;
  height: 10%;
  justify-content: space-between;
  padding: 15px 25px;
}

.sidebar-body {
  height: 90%;
  top: 10%;
  background-color: #ccc;
}

.results {
  height: 100%;
  width: 100%;
  min-width: 190px;
}

.results ul {
  position: static;
  overflow: scroll;
  margin: 0;
  padding: 0;
  border: 2px solid #ccc;
  max-height: inherit;
  font-size: 16px;
  font-family: Arial, sans-serif;
  -webkit-overflow-scrolling: touch;
}

.results li {
  height: 120px;;
  width: 100%;
  padding: 0px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto;
}

.results p#name {
  grid-row: 1/2;
  grid-column: 1/4;
}

.results p#score {
  grid-row: 1/2;
  grid-column: 4/5;
}

.results p#site {
  grid-row: 2/3;
  grid-column: 4/5;
}

.results p#phone {
  grid-row: 2/3;
  grid-column: 1/4;
}

.results p#address {
  grid-row: 3/4;
  grid-column: 1/5;
}


.results li:last-child {
  border-bottom: none;
}

.results li:nth-child(even) {
  background: #f8f8f8;
}

