/* Tutorial Pop-Up */
#popUp {
  border-radius: 20px;
  border-color: black;
  border-width: 10px;
  text-align: center;
  height: 40%;
  width: 50%;
  position:relative;
  margin: 0 auto;
  display: none;
}
#popUp {
  border-radius: 10%;
  text-align: center;
  height: 70%;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  z-index: 10;
  display: none;
}

#header {
  border-radius: inherit;
  border-width: inherit;
  border-color: inherit;
  border-style: inherit;
  border-radius: 20px 20px 0px 0px;
  background-color: #FAC302;
  color: white;
  height: 20%;
  width: 100%;
  vertical-align: middle;
  display: inline-block;
}

#exit {
  height: 10%;
  width: 10%;
  color: #EA4235;
  font-family: arial;
  font-size: 54px;
  margin-top: 0px;
  margin-left: 90%;
}

#exit:hover {
    color: rgba(230, 230, 230); /* Grey. */
}

#headerText {
  font-family: arial;
  font-size: calc(3vw);
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 0%;
  position: relative;
}

#lower {
  border-radius: inherit;
  border-width: inherit;
  border-color: inherit;
  border-style: inherit;
  border-radius: 0px 0px 20px 20px;
  background-color: #4286F5;
  height: 80%;
  width: 100%;
  display: inline-block;
}

#lowerCenter {
  background-color: white;
  border-radius: 20px;
  height: 75%;
  width: 90%;
  padding: 0.1%;
  position: relative;
  margin: 7% auto;
  display: inline-block;
}

#centralDiv {
  font-size: calc(3vw);
  font-family: Arial;
  color: #35A853;
  text-align: center;
  height: 90%;
  width: 70%;
  margin: 0 auto;
  padding-top: 40px;
}

#navButtons {
  height: 20%;
  width: 97%;
  position: relative;
  top: -110px;
  display: inline-block;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: relative;
  width: auto;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 60px;
  transition: 0.6s ease;
  user-select: none;
  color: #EA4235; /* Google Red. */
}

/* Position the "next button" to the right */
.next {
  left: 30%;
  border-radius: 0px 10px 10px 0px;
}

.prev {
  border-radius: 10px 0px 0px 10px;
  position: relative;
  right: 30%;
}

/* Login Button Specs. */
.loginButton {
  height: 30px;
  width: 30%;
  position: relative;
  left: 30%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: rgba(230, 230, 230); /* Grey. */
}

#header {
  border-radius: inherit;
  border-width: inherit;
  border-color: inherit;
  border-style: inherit;
  border-radius: 20px 20px 0px 0px;
  background-color: #FAC302;
  color: white;
  height: 20%;
  width: 100%;
  vertical-align: middle;
  display: inline-block;
}

#exit {
  color: #EA4235;
  font-family: arial;
  font-size: 54px;
  height: 30px;
  margin-left: 1140px;
  margin-top: 0px;
  width: 30px;
}

#exit:hover {
  color: rgba(230, 230, 230); /* Grey. */
}

#headerText {
  font-family: arial;
  font-size: 80px;
  height: 200px;
  line-height: 0%;
  position: relative;
  text-align: center;
  width: 1200px;
}

#lower {
  border-radius: inherit;
  border-width: inherit;
  border-color: inherit;
  border-style: inherit;
  border-radius: 0px 0px 20px 20px;
  background-color: #4286F5;
  display: inline-block;
  height: 80%;
  width: 100%;
}

#lowerCenter {
  background-color: white;
  border-radius: 20px;
  display: inline-block;
  height: 75%;
  margin: 7% auto;
  padding: 10px;
  position: relative;
  width: 90%;
}

#centralText {
  color: #35A853;
  font-size: 64px;
  font-family: Arial;
  height: 90%;
  margin: 0 auto;
  padding-top: 40px;
  text-align: center;
  width: 70%;
}


/* Next & previous buttons */
#navButtons {
  display: inline-block;
  height: 20%;
  position: relative;
  top: -110px;
  width: 97%;
}

.prev, .next {
  color: #EA4235; /* Google Red. */
  cursor: pointer;
  font-weight: bold;
  font-size: 60px;
  padding: 16px;
  position: relative;
  transition: 0.6s ease;
  user-select: none;
  width: auto;
}

/* Position the "next button" to the right */
.next {
  border-radius: 0px 10px 10px 0px;
  left: 30%;
  position: relative;
  right: 0;
}

.prev {
  border-radius: 10px 0px 0px 10px;
  position: relative;
  right: 30%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: rgba(230, 230, 230); /* Grey. */
}